In [1]:
import pandas as pd
import os

In [2]:
# Create the path and import the data
vine_review_df = os.path.join('Resources/CSV/vine_table.csv')
vine_df = pd.read_csv(vine_review_df)

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767753 entries, 0 to 1767752
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 80.9+ MB

In [4]:
vine_df['star_rating']= vine_df['star_rating'].astype('Int64')

vine_df.dtypes

review_id             object
star_rating            Int64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [5]:
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R135Q3VZ4DQN5N,5,0.0,0.0,N,Y
1,R2N0QQ6R4T7YRY,5,0.0,0.0,N,N
2,R3N5JE5Y4T6W5M,5,0.0,0.0,N,Y
3,R2I150CX5IVY9Q,5,0.0,0.0,N,Y
4,R1RM9ICOOA9MQ3,5,0.0,0.0,N,Y
...,...,...,...,...,...,...
1767748,RVR5HEPUCU2C0,4,0.0,0.0,N,N
1767749,R7FC4HLPYQCBV,4,6.0,7.0,N,N
1767750,R1UD30PTI793U2,4,9.0,9.0,N,N
1767751,R1DXZZ4QSXZLTP,5,8.0,10.0,N,N
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [6]:
total_votes = vine_df.loc[vine_df['total_votes']>= 20]
total_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
649,RHGLC4IKMY3H5,5,26.0,29.0,N,Y
1253,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1442,RLI1KA0Y609H4,5,22.0,22.0,N,Y
1893,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767276,R3AW1KGEXQ6IAJ,5,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1,20.0,20.0,N,Y
1767742,R3D1P1IZR1GIET,5,16.0,35.0,N,N
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [7]:
total_votes_50 = total_votes.loc[(total_votes['helpful_votes']/total_votes['total_votes'])*100 >= 50]
total_votes_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
649,RHGLC4IKMY3H5,5,26.0,29.0,N,Y
1253,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1442,RLI1KA0Y609H4,5,22.0,22.0,N,Y
1893,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767244,R13DQ5VL0OFEWB,5,19.0,20.0,N,Y
1767276,R3AW1KGEXQ6IAJ,5,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1,20.0,20.0,N,Y
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [8]:
paid_vine_program = total_votes_50.loc[total_votes_50['vine'] == 'Y']
print(len(paid_vine_program))
paid_vine_program

21

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487202,R15PXA9XU9ZKSU,4,29.0,29.0,Y,N
499338,R2LJ4QYQ4PYDEH,5,24.0,26.0,Y,N
557818,R13R4X37T2U50A,4,52.0,57.0,Y,N
566860,R1X1J2NAQ39DF6,4,29.0,34.0,Y,N
762250,R2PJWWQZ37WCIC,5,95.0,96.0,Y,N
764388,R33G2VDKRN2USY,5,21.0,21.0,Y,N
831973,R2UV5XHFNMPXOX,5,60.0,61.0,Y,N
1383945,R31V08BCC9X3MF,5,18.0,22.0,Y,N
1394635,R2G00QWTYW9N2G,5,86.0,91.0,Y,N
1400383,RL8H3NKKP989J,5,30.0,34.0,Y,N
1506919,RZ65QBOJ8ZNRN,4,19.0,22.0,Y,N
1510433,RDZBWH5MFEQY1,5,18.0,22.0,Y,N
1511392,R24SU7KP57HE8L,4,25.0,26.0,Y,N
1568052,RV3V9VIC29R8S,2,66.0,68.0,Y,N
1569138,R31AR3XSFSHY1B,4,33.0,35.0,Y,N
1573984,R3VWAKQ4JXGE55,5,33.0,34.0,Y,N
1578135,RNZ2BP0EHN7IK,5,20.0,20.0,Y,N
1582803,RXKITVQ3MN3PS,4,22.0,23.0,Y,N
1612719,R3TZE1OYDVZPRD,5,23.0,24.0,Y,N
1651458,R3FO353G2ET17M,4,23.0,24.0,Y,N
1652856,RHWHKPCJQEXUP,3,30.0,31.0,Y,N

In [9]:
unpaid_vine_program = total_votes_50.loc[total_votes_50['vine'] == 'N']
print(len(unpaid_vine_program))
unpaid_vine_program

7689

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5,23.0,23.0,N,Y
649,RHGLC4IKMY3H5,5,26.0,29.0,N,Y
1253,R5O4WE9UM60B0,1,29.0,29.0,N,Y
1442,RLI1KA0Y609H4,5,22.0,22.0,N,Y
1893,R2EKRVCRC7U0IY,1,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767244,R13DQ5VL0OFEWB,5,19.0,20.0,N,Y
1767276,R3AW1KGEXQ6IAJ,5,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1,20.0,20.0,N,Y
1767752,RV2EZ4SCOCQC2,5,17.0,28.0,N,N

In [11]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for paid vine program
number_of_reviews = len(paid_vine_program)
number_of_5_star_reviews =len(paid_vine_program.loc[paid_vine_program['star_rating'] == 5]) 
percentage_of_5_star_review = (number_of_5_star_reviews/number_of_reviews) *100

print("Total number of reviews are: %f, The number of 5-star reviews are: %f and the percentage of 5-star reviews for paid vine program is: %f"
 %(number_of_reviews , number_of_5_star_reviews , percentage_of_5_star_review))

Total number of reviews are: 21.000000, The number of 5-star reviews are: 11.000000 and the percentage of 5-star reviews for paid vine program is: 52.380952

In [12]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for unpaid vine program
number_of_reviews_up = len(unpaid_vine_program)
number_of_5_star_reviews_up =len(unpaid_vine_program.loc[unpaid_vine_program['star_rating'] == 5]) 
percentage_of_5_star_review_up = (number_of_5_star_reviews_up/number_of_reviews_up) *100

print("Total number of reviews are: %f, The number of 5-star reviews are: %f and the percentage of 5-star reviews for unpaid vine program is: %f"
 %(number_of_reviews_up , number_of_5_star_reviews_up , percentage_of_5_star_review_up))

Total number of reviews are: 7689.000000, The number of 5-star reviews are: 4444.000000 and the percentage of 5-star reviews for unpaid vine program is: 57.796853